<!DOCTYPE html>
<html>
  <head>
    <title>tippy.jp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" href="<%= asset_pack_path 'media/images/negi.png' %>">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
